# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
dist/
build/
.turbo/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
*.swp

# Debug
npm-debug.log*
*.log

# Prisma
packages/database/migrations/

# Vercel
.vercel
